body {
  font-family: 'Raleway', sans-serif;
  background: url(../pic/成都市.jpg) no-repeat fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.all {
  display: flex;
  -webkit-perspective: 10px;
          perspective: 10px;
  -webkit-transform: perspective(10000px) rotateX(20deg);   /*perspective为未展开时的中间图片的倾斜角度*/
          transform: perspective(10000px) rotateX(20deg);
  will-change: perspective;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.all:hover {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  transition: all 1.3s ease-in;
  -webkit-transform: perspective(10000px) rotateX(0deg);
          transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text{
  opacity: 1;
}
.all:hover .text2{
  opacity: 1;
}
.all:hover .text3{
  opacity: 1;
}
.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
.all:hover .explainer {
  opacity: 0;
}
.center{
  width: 600px;
  height: 300px;												/*方框长宽*/
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #D4AF37;
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

}
.left, .right{
  width: 450px;
  height: 300px;												/*方框长宽*/
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #D4AF37;
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

}

.left, .center, .right{
  /*边框颜色*/
  box-shadow: 0 0 20px 5px rgba(205, 127, 50, 0.4);
}

.left:hover,.right:hover,.center:hover{
  box-shadow: 0 0 30px 10px rgba(205, 127, 50, 0.6);

}

.text {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: -20px;
  left: 200px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(205, 127, 50, 0.6);
  font-size: 30px;
}
.text2 {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: -20px;
  left: 200px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(205, 127, 50, 0.6);
  font-size:40px;
}
.text3 {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: -20px;
  left: 40px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(205, 127, 50, 0.6);
}

.left {
  -webkit-transform: translateX(0px) translateZ(-25px) rotateY(0deg);
          transform: translateX(0px) translateZ(-25px) rotateY(0deg);
  background-image: url(../pic/价格预测.jpg);
}

.center {
  opacity: 1;
  background-image: url(../pic/可视化展示.png);
}

.right {
  -webkit-transform: translateX(0px) translateZ(-25px) rotateY(0deg);
          transform: translateX(0px) translateZ(-25px) rotateY(0deg);
  background-image: url(../pic/房屋推荐.jpg);
}


.explainer {
  font-weight: 600;
  font-size: 2rem;
  color:#c1b9af;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(205, 127, 50, 0.8);
  display: flex;
  margin:100px 30px 10px 30px;
}
.explainer2 {
  margin:0;
  font-weight: 570;
  font-size: 2.8rem;
  transition: all .6s ease;
  width: 150%;
  height: 100%;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(205, 127, 50, 0.8);
  display: flex;
  opacity:0;
}