<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成都市二手房交易预测及展示系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css"/>
</head>
<body>

<div class="all">

<div class="left">
  <a href="forecast"><div class="explainer2"></div></a>
  <div class="text">价格预测</div>
</div>
<div class="center">
  <a href="visualization"><div class="explainer"></div></a>
  <div class="text2">可视化展示</div>
</div>
<div class="right">
  <a href="recommend"><div class="explainer2"></div></a>
  <div class="text">房屋推荐</div>
</div>

</div>


</body>
</html>